.heroMain{
    background-image: url("https://images.unsplash.com/photo-1736182792109-2db1c298a703?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
height:calc(100vh - (69px + 37.7px));
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-left: 25px;
margin-right: 25px;
border-radius: 20px;
position: relative;
}
.hero-left-text{
    font-size: 40px;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
.hero-left-text-heading{
    color: wheat;
    font-weight: 700;
}
.hero-left-text-title{
    font-size: 20px;
    font-weight: 300;
}
.hero-right-button button {
    position: absolute;
    font-size: 15px;
    border-radius: 30px;
    bottom: 26px;
    right: 71px;
    padding: 15px;
}